/**********************
 colors */
$bodyBgColor: #88BB55;
$contentBgColor: white;
$lightTextColor: white;
$navbarColor: PaleGreen;
$navbarHoverColor: Green;
$navbarBorderColor: yellowgreen;
$rowOdd: #C5FABA;
$rowEven: #DCFDC8;

/**********************
 sizes */
$padding: 0.5em;
$margins: 0.5em auto;
$borderRadius: 1em;

/**********************
 elements */
body {
	text-align: center;
	background-color: $bodyBgColor;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-family: Palatino, "Times New Roman", Serif;
}

table {
	margin: $margins;
	tr:nth-child(odd) {background-color: $rowOdd;} 
	tr:nth-child(even) {background-color: $rowEven;}
	tr {
		td, th {
			padding: $padding;
		}
	}
}

/**********************
 classes */

/**********************
 IDs */
#pageID {
	width: 80em;
	margin: $margins;
	padding: 1em;
	border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	background-color: $contentBgColor;
}

#navbarID {
	list-style-type: none;
	margin: 0.5em auto;
	padding: 0;
	ul {
		li {
			clear: both;
			margin: 0;
			padding: 0.3em 0.5em;
			margin: 0.2em 0.1em;
			width: 10em;
			display: inline-block;
			background-color: $navbarColor;
			border: 0.2em outset $navbarBorderColor;
			border-radius: 0.8em;

			&:hover {
				background-color: $navbarHoverColor;
			}

			a {
				margin: -0.3em -0.5em;
				display: inline-block;
				text-decoration: none;
				&:hover { background-color: transparent; }

			}
		}
	}
}

#contentID {
	text-align: center;
}

#noticeID {
	border: 0.5em solid $navbarHoverColor;
	border-radius: $borderRadius;
	padding: $padding;
	margin: $margins;
	width: 30em;
}
