/**********************
 imports */
/*
@import url(http://fonts.googleapis.com/css?family=Vidaloka);
@import url(http://fonts.googleapis.com/css?family=Seymour+One);
@import url(http://fonts.googleapis.com/css?family=Milonga);
*/

/**********************
 colors */
$bodyBgColor: #88BB55;
$contentBgColor: White;
$darkTextColor: Black;
$lightTextColor: white;
$navbarTextGlowColor: #CCFFCC;
$navbarTextGlow: 0 0 0.3em $navbarTextGlowColor;
$navbarShineColor: White;
$navbarShadowColor: DarkGreen;
$navbarBgColor: PaleGreen;
$navbarHoverColor: Green;
$navbarBorderColor: yellowgreen;
$navbarGradients: top, $navbarShineColor, $navbarBgColor 40%, $navbarBorderColor 60%;
$navbarInvertedGradients: top, $navbarShineColor, $navbarShadowColor 50%, $navbarBorderColor;
$rowOdd: #C5FABA;
$rowEven: #DCFDC8;
$currentBgColor: greenyellow;

/**********************
 sizes */
$padding: 0.5em;
$margins: 0.5em auto;
$borderRadius: 1em;
$transition: 0.2s ease-out;
$logoTransition: 4s ease-in-out;

/**********************
 mixins */
@mixin rounded($radius: 1em) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin spin($angle: 359deg) {
	-moz-transform: rotate($angle);
	-webkit-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin transition($trn) {
	-webkit-transition: $trn;
	-moz-transition: $trn;
	transition: $trn;
}

@mixin background($bkg) {
	background: -webkit-linear-gradient($bkg);
	background: -moz-linear-gradient($bkg);
	background: linear-gradient($bkg);
}

/**********************
 elements */
body {
	text-align: center;
	background-color: $bodyBgColor;
	font-family: Helvetica, Arial, sans-serif;
}

table {
	margin: $margins;
	tr:nth-child(odd) {background-color: $rowOdd;} 
	tr:nth-child(even) {background-color: $rowEven;}
	tr {
		td, th {
			padding: $padding;
		}
	}
}

hr {
	clear: both;
}

/**********************
 classes */



/**********************
 IDs */
#pageID {
	width: 80em;
	margin: $margins;
	padding: 1em;
	background-color: $contentBgColor;
	@include rounded($borderRadius);
}

#logoID {
	float: left;
	width: 10em;
	margin: 1;
	padding: 0;
	&:hover {
		@include spin(359deg);
		@include transition($logoTransition);
	}
}

#title_and_nav_ID {
	float: left;
	width: 65em;
	align: left;
	margin: 1em;
}

#titleID {
	float: left;
	font-size: 2.5em;
	margin: 0.5em 0em;
	padding: 0;	
}

#navbarID {
	list-style-type: none;
	padding: 0.5em 0em;
	margin: 0em;
	float: left;

	ul {
		margin: 0;
		padding: 0;

		li {
			clear: both;
			display:inline;
			margin: 0;
			padding: 0;

			a, .current {
				width: 10em;
				padding: $padding;
				margin: 0.3em 0.5em;
				display: inline-block;
				border: 0.2em solid $navbarBorderColor;
				@include rounded($borderRadius);
				color: $darkTextColor;
				font-size: 1.1em;
			}

			a {
				background-color: $navbarBgColor;
				text-decoration: none;
				box-shadow: 2px 2px 2px #bbb, 
				inset 0 0 20px $navbarBorderColor;
				@include background($navbarGradients);

				&:hover {
					background-color: $navbarHoverColor;
					@include background($navbarInvertedGradients);					
					color: $lightTextColor;
					text-shadow: $navbarTextGlow;
					@include transition($transition);
				}
			}

			.current {
				background-color: $currentBgColor;
			}
		}
	}
}

#contentID {
	text-align: center;
}

#noticeID {
	border: 0.5em solid $navbarHoverColor;
	border-radius: $borderRadius;
	padding: $padding;
	margin: $margins;
	width: 30em;
}
