/**********************
 colors */
$bodyBgColor: blue;
$contentBgColor: white;

/**********************
 elements */
body {
	text-align: center;
	background-color: red;
	background-color: $bodyBgColor;
}

/**********************
 classes */

/**********************
 IDs */
#pageID {
	width: 80em;
	margin: 1em auto;
	background-color: $contentBgColor;
}

#navbarID {
	border: solid black 1px;
}

#contentID{}
